*{
    background-color: rgb(44, 43, 43);
}
#square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    height: 500px;
    width: 500px;
    background-color: orange;
}