body {
    background: gold;
}
#title {
    text-align: center;
    font-size: larger;
}
#form {
    justify-content: center;
}
.container{
    display: flex;
}
#todo-list>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    border: 2px solid white
}